body {
    margin: 100px auto;
    width: 70%;
    font-family:'Roboto Condensed';
}
nav ul, footer ul {
    font-family:'Roboto Condensed';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    font-family:'Roboto Condensed';
}

h1 {
    font-size: 3em;
    font-family:'Roboto Condensed';
}

h2 {
    font-family:'Roboto Condensed';
}

h3 {
    font-family:'Roboto Condensed';
}

h4 {
    font-family:'Roboto Condensed';
}
a:link {
  font-family:'Roboto Condensed';
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  font-family:'Roboto Condensed';
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  font-family:'Roboto Condensed';
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
    font-family:'Roboto Condensed';
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    font-family:'Roboto Condensed';
}
footer {
    border-top: 1px solid;
    font-size: .8em;
    font-family:'Roboto Condensed';
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    font-family:'Roboto Condensed';
}

ul.posts li {
    list-style: none;
    font-family:'Roboto Condensed';
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:'Roboto Condensed'
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
